doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title CryptedChat
    link(rel="stylesheet", href='/stylesheets/chatstyle.css')
.flexbox
  .chat-box
    .chat-box-header
      h3 Crypted chat
        br
        small it's so defensive
      button.logout-btn#logoutBtn Exit
    
    #chat_box_body.chat-box-body
      #chat_messages
    
    .chat-box-footer
      textarea#chat_input(placeholder="Enter your message here...")
      button#send
        svg(style="width:24px;height:24px" viewBox="0 0 24 24")
          path(fill="#006ae3" d="M2,21L23,12L2,3V10L17,12L2,14V21Z")
    #englishModal.modal
        .modal-content
            h3#title
            p#reason
            button#confirmEnglish OK
    script(type="module" src="/js/chat.js")