doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title CryptedChat
    link(rel="stylesheet", href='/stylesheets/style.css')
  body
  - const numbers = Array(50).fill(0).map((v, i) => i);
    .container
      .login-box
        h2 Login
        form#loginForm
          .input-box
            input(type="email", name="email", required)
            label Email
          .input-box
            input(type="password", name="password", required)
            label Password
          button.btn(type="submit") Login
          .signup-link
            a(href="/register") Signup
        div#response
      script(type="module" src="/js/auth.js")